# Python
__pycache__/
*.py[cod]
*$py.class

# Django
*.log
*.sqlite3
db.sqlite3
media/
staticfiles/
*.pot
*.pyc

# Visual Studio Code
.vscode/
.history/

# Environments
.env
.venv/
venv/
ENV/
env/

# Coverage reports
htmlcov/
.coverage
.coverage.*
nosetests.xml
coverage.xml
*.cover

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Pytest
.cache/
pytestdebug.log

# Jupyter Notebook
.ipynb_checkpoints

# Other files
*.DS_Store
*.egg-info/
dist/
build/
