# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django-specific
*.log
*.sqlite3
db.sqlite3

# Firebase credentials
firebase-credentials.json

# Static files (но не media)
staticfiles/
*.pot
*.pyc

# VS Code
.vscode/
.history/

# Virtual Environments
.env
.venv/
venv/
ENV/
env/

# Coverage reports
htmlcov/
.coverage
.coverage.*
nosetests.xml
coverage.xml
*.cover

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Pytest
.cache/
pytestdebug.log

# Jupyter Notebook
.ipynb_checkpoints/

# Packaging
*.egg-info/
dist/
build/

# OS-specific
*.DS_Store

# 🟢 Разрешаем media
!media/
