# Основной фреймворк
Django>=5.0,<5.1                # Оставляем как есть для Django 5.0.x
djangorestframework>=3.14,<3.15 # Совместимо с Django 5.0
djangorestframework-simplejwt>=5.2,<5.3  # Совместимо с Django 5.0
django-cors-headers>=4.2,<4.3   # Совместимо с Django 5.0
django-redis>=5.4.0,<5.5.0

# Работа с медиафайлами и статикой
Pillow>=10.0,<10.1              # Оставляем как есть
whitenoise>=6.5,<6.6            # Оставляем как есть

# Документация и фильтрация
drf-yasg>=1.21,<1.22            # Совместимо с Django 5.0
django-filter>=23.5,<23.6       # Совместимо с Django 5.0

# Асинхронные задачи и уведомления
firebase-admin>=6.5.0,<6.6.0    # Оставляем как есть
celery>=5.4,<5.5                # Оставляем как есть
django-celery-beat>=2.6,<2.7    # Обновляем до версии с поддержкой Django 5.0

# Развёртывание
gunicorn>=21.0,<22.0            # Оставляем как есть

# Кэширование и базы данных
redis>=5.0,<5.1                 # Оставляем как есть
psycopg2-binary>=2.9,<2.10      # Оставляем как есть

# Дополнительные утилиты
python-decouple>=3.8,<3.9       # Оставляем как есть
requests>=2.31,<2.32            # Оставляем как есть